# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.MyFanControl.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Jeka8833\RiderProjects\MyFanControl\.idea\.idea.MyFanControl\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
